

#album {
    max-width: 1150px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
 } 
 .album-header {
    margin-bottom: 20px;
    padding-bottom: 30px;
    border-bottom: 1px #fff solid;
 }
 .btn-sm {
    margin-left: 30px;
    font-size: large;
 }