/* You can add global styles to this file, and also import other style files */
 .container {
    max-width: 1200px;
 } 
  .main{
    border-bottom: #333 1px solid;
    padding: 30px 0;
}

.artist-header{
    display: flex;
    align-items: center;
    border-bottom:solid 1px #333;
}
.artist-header span {
    margin: 5px;
    font-size: large;
}

.artist-thumb{
   
    margin: auto;
    margin-right: 50px;
    width:200px;
    height:auto;
    border-radius: 100px;
}

.artist-albums .well{
    margin-bottom:20px;
    overflow:auto;
    min-height:400px;
    margin-top: 40px;
}

.album{
    text-align: center;
    background: #333;
    padding: 10px 20px;
    border:#666 1px solid;
}

.album-thumb{
    width:100%;
} 